<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>In closing...</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" media="all" />
    <link rel="stylesheet" href="fonts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
  </head>
  <body>
    <div class="smaller">
      <p>This E-Book was produced by tools provided by OpenBookFiction.com</p>
   
      <p>Copyright &#169; {{book.pub_year}} by {{book.author}}</p>

      <p>All rights reserved. Except as permitted under the U.S. Copyright Act of 1976,
      no part of this publication may be reproduced, distributed, or transmitted in any form 
      or by any means, or stored in a database or retrieval system, without the prior
      written permission of the author.</p>

      <p><strong>This e-book is DRM free.</strong> DRM stands for <em>Digital Rights Management</em>.
      Basically, it's the stuff that some companies use to protect digital media (such as e-books, 
          music/audio files, DVD, and so on) from being copied and redistributed. 
      It's technology that replaces trust.</p>

      <p>I'm not going to waste time and energy on distrust. If you want to share this e-book with a 
      friend, then pretend it's a real book - just delete it from your hard drive after you copy it and 
      give it away. <em>(wink wink nudge nudge)</em></p>

      <p>If you've received a copy from a friend and you've read this far and you would like to support
      a struggling author, I would be humbly honored if you would go to my site 
      and pay for your very own copy of this e-book.</p>
    </div>
  </body>
</html>
