<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" media="all" />
    <link rel="stylesheet" href="fonts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div><img src="images/made_by_obf.jpg" alt="Title page"/></div>
    <p>E-Book Produced by tools provided by OpenBookFiction.com</p>
  </body>
</html>
